@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
:root {
  /* colorPallet */
  --accentColor: rgb(12, 59, 95);
  --headingColor: rgb(0, 0, 0);
  --textColor: rgb(94, 93, 93);

  /* fontSize */
  --menuFont: 14px;
  --bigFont: 38px;
  --h1Size: 55px;
  --h2Size: 40px;
  --h3Size: 21px;
  --textSize: 16px;
}
.section {
  width: 100%;
  height: 100%;
  padding: 4rem 0 2rem;
}
.container {
  width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}
body{
    background-color: #fff;

}
img {
  width: 100%;
}
li {
  list-style: none;
}
header {
  width: 100%;
  /* height: 500px; */
}
a {
  text-decoration: none;
}

.headerContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 2rem;
}
.logo {
  display: block;
  margin: auto 0;
  flex-basis: 15%;
  /* margin-right: 1rem; */
}
.logo img {
  width: 80%;
}
.menu {
  display: block;
  margin: auto 0;
  flex-basis: 60%;
}
.menu ul li {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--accentColor);
  cursor: pointer;
}
.menu ul li:hover {
  color: #000;
}
.OtherOptions {
  flex-basis: 30%;
  display: block;
  margin: auto 0;
}
.OtherOptions ul li {
  display: inline-flex;
  align-items: center;
  /* justify-content: space-between; */
  margin: 0 3px;
  text-transform: uppercase;
  font-size: 14px;
  color: var(--accentColor);
  cursor: pointer;
}
.OtherOptions ul li i {
  font-size: 20px;
}
.OtherOptions ul li:hover {
  color: #000;
}

/* annoucementBar */
.announcementBar {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0.625rem;
  background-color: var(--headingColor);
}
.announcementBar ul {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;
}
/* heroSection */
.hero {
  background-image: url(./assets/Perfect\ Waves.webp);
  background-size: cover;
  background-position: center;
}
.heroText {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.heroText h1 {
  font-size: var(--bigFont);
  font-weight: normal;
  text-transform: capitalize;
  margin-bottom: 1rem;
}
.heroText a {
  color: #fff;
  font-size: var(--textSize);
  text-transform: uppercase;
  text-decoration: underline;
}
/* cards */
.shopCards {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 0 2rem;
}
.card {
  display: flex;
  align-items: baseline;
  justify-content: end;
  flex-direction: column;
  padding: 2rem;
}

.card:nth-child(1) {
  flex-basis: 28%;
  height: 500px;
  background-image: url(./assets/Frontal\ Portrait.webp);
  background-position: middle;
  background-size: cover;
}
.card:nth-child(2) {
  flex-basis: 28%;
  height: 500px;
  background-image: url(./assets/Fit\ Woman.webp);
  background-position: middle;
  background-size: cover;
}
.card:nth-child(3) {
  flex-basis: 28%;
  height: 500px;
  background-image: url(./assets/Smilling\ Woman.webp);
  background-position: middle;
  background-size: cover;
}
.productCategory {
  font-size: 2rem;
  text-transform: capitalize;
  color: #fff;
  padding-bottom: 0.625rem;
}
.catDescription {
  font-size: var(--textSize);
  color: #fff;
  font-weight: bold;
  margin-bottom: 1.75rem;
}
.shopNowBtn {
  width: 95%;
  padding: 1.5rem 1rem;
  background-color: #fff;
  color: var(--headingColor);
  text-align: center;
  text-transform: capitalize;
  border: none;
  border-radius: 8px;
}
/* into nirvana Logo banner */
.intoNlogo {
  display: block;
  margin: 0 auto;
  width: 88%;
  height: auto;
  padding: 2.75rem 0;
  background-color: #ebebeb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  position: relative;
}

.intoNlogo img {
  width: 15%;
  margin-bottom: 1rem;
}
.intoNlogo p {
  text-transform: capitalize;
  font-size: var(--textSize);
}
.lable {
  position: absolute;
  top: 0;
  left: 7%;
  text-align: center;
  width: auto;
  height: 100%;
  padding: 1rem;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.775rem;
  font-weight: bold;
}
/* teanding */
.tranding{
  display: block;
  margin: 0 auto;
  width: 88%;
  height: 60vh;
  padding: 5rem 0;
  background-image: url(./assets/Reading\ Nook\ by\ Window.webp);
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: baseline;
  flex-direction: column;
  position: relative;
}
.tranding img {
  display: block;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 55%;
}
.trance {
  padding: 0.625rem 6rem;
  color: var(--accentColor);
  font-size: 2.125rem;
  text-transform: capitalize;
  background-color: rgba(235, 235, 235, 0.5);
  border: none;
  border-radius: 0.625rem;
  z-index: 2;
}
.sale {
  position: absolute;
  bottom: 40%;
  font-size: 30px;
  font-weight: 500;
}
.sale span {
  text-transform: uppercase;
  font-size: var(--h2Size);
}
.saleCat {
  display: block;
  margin: 0 auto;
  width: 88%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cat {
  flex-basis: 24.5%;
  background-color: var(--textColor);
  padding: 2rem 1rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.725rem;
  text-align: center;
  border-radius: 0.625rem;
  cursor: pointer;
}
.cat:hover {
  background-color: #000;
  transition: 0.6s;
}
/* slideBox */
.flexSlide {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 88%;
  height: 100%;
  margin-inline: auto;
}
.slideText,
.slideImg {
  flex-basis: 50%;
  height: 100%;
  text-align: center;
}
.slideText{
    flex-basis: 45%;
}
.slideImg img {
  width: 100%;
}
.slideText h3 {
  font-size: var(--h2Size);
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 2rem;
}
.flexSlide p:nth-child(2) {
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 550;
  margin-bottom: 1rem;
}
.flexSlide p:nth-child(3), .flexSlide p:nth-child(4), .flexSlide p:nth-child(5), .flexSlide p:nth-child(6) {
  font-size: 0.875rem;
  text-transform: capitalize;
  font-weight: 500;
  margin-bottom: 1rem;
  color: var(--textColor);
}
.flexSlide p:nth-child(6){
    margin-bottom: 4rem;
}
.eneTemBtn{
    font-size: 0.875rem;
    text-transform: capitalize;  
    background-color: rgba(235, 235, 235, 0.9);
    display: block;
    width: 280px;
    padding: 0.625rem 0.625rem;
    border: none;
    border-radius: 0.425rem;
    margin-inline: auto;
    text-transform: capitalize;
    cursor: pointer;
}
.eneTemBtn a{
    color: var(--accentColor);

}
.eneTemBtn:hover  {
background-color: rgb(94, 93, 93, 0.5);
}
.eneTemBtn:hover a{
    color: #fff;

}
/* gridBanner */
.grid{
    margin-inline: auto;
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-template-rows: repeat(2, 2fr);
}
.gridItems{
    position: relative;
    
}
.gridItems:nth-child(1){
    background-image: url(./assets/11062b_df334c3d96de4a53b06017f382cd6f95~mv2.webp);
    background-size: cover;
    background-position: center;
    
}
.gridItems:nth-child(4){
    background-image: url(./assets/a3c153_bbf1019446e34069a3b96c18f172e810~mv2.webp);
    background-size: cover;
    background-position: center;
    
}
.gridItems:nth-child(2){
    background: radial-gradient(circle at 50% 50%, #E4EBFC 0%, #589BE3 32.48291015625%, #002F5E 62.78076171875%, #000000 100%);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    
}
.gridText{
    font-size: var(--h3Size);
    color: var(--textColor);
    text-transform: capitalize;
}
.gridItems:nth-child(2) img{
    width: 25%;
    margin-bottom: 1rem;
    font-weight: 500;
    margin-right: 4rem;
  
}
.lifeStyle{
    position: absolute;
    top: -8%;
    right: 30%;
    text-align: center;
    width: auto;
    height: 100%;
    padding: 1rem;
    writing-mode: vertical-rl;
    transform: rotate(360deg); 
    font-size: var(--h1Size);   
    color: #000;
    text-transform: capitalize;
}
.cupnImg img{
    width: 40%;
}
.gridItems:nth-child(3){
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
}
.cupnImg{
    flex-basis: 30%;
    position: absolute;
    left: -12%;
    top: 10%;
}
.cupnText{
    flex-basis: 70%;
    text-align: center;
    padding: 2rem;

}

.offerLbale{
    font-size: var(--h2Size);
    text-transform: capitalize;
    font-weight: 500;
    margin-bottom: 1rem;
}
.offerText{
    font-size: 1.25rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
}
.offerBold{
    font-size: 1.5rem;
    font-weight: 550;
    text-transform: capitalize;
}
.offerEnd p{
font-size: 1rem;
color: var(--textColor);
margin-bottom: 1.5rem;
}
.joinBtn{
    /* display: block; */
   padding: 0.625rem 4rem;
   border:1px solid black ; 
   font-size: 0.875rem;
   color: #000;
   font-weight: 500;
   border-radius: 5px;
   
}
/* productCard */
.productCatTitle{
    font-size: var(--h3Size);
    margin-inline: auto;
   width: 88%;
   text-transform: uppercase;
   font-weight: 500;
   padding: 1rem 0;
    
}
.productFlex,.bannerFlex, .feature{
    margin-inline: auto;
    width: 88%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

}
.ProductCards{
    width: 20%;
    height: auto;
    padding: 0.625rem;
    position: relative;
}
.productImg{
    margin-bottom: 5px;
    cursor: pointer;

}
.productdetails{
    display: inline-flex;
    text-transform: capitalize;
    margin-bottom: 5px;
    
}
.description, .price{
    font-size: 0.875rem;
}
.nextDelivery, .vipWaiting{
    font-size: 0.875rem;
    margin-bottom: 5px;
}
.outStock{
    font-weight: 500;
}
.productBtn a{
    color: #000;
    text-transform: capitalize;
    text-decoration: underline;
}
.productLable{
    display: block;
    position: absolute;
    top: 63%;
   max-width: 100%;
   padding: 0.625rem 1.75rem;
   background-color: #000;
   color: #fff;
   text-transform: capitalize;
   cursor: pointer;
   font-size: 0.875rem;
}
.productLable:hover{
    background-color: #ff5700;
    transition: .6s;
}
.variationOptions ul {
    width: 50px;
    display: flex;
    justify-content: space-between;
}
.variationOptions ul li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: green;
}
/* brandBanner */
.bannerFirst, .bannerSecound{
    flex-basis: 45%;
    position: relative;
}
.bannerLable{
    width: 100%;
    padding: 1rem 2rem;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 550;

}
.bannerBtn ,.newssletterBtn{
    padding: 0.625rem 0.875rem;
    border: 1px solid #000;
    font-size: 0.875rem;
    border-radius: 5px;
    color: #000;
    
}
/* /// */
.newsletter{
   margin-inline: auto;
    width: 88%;
    height: 60vh;
    padding: 5rem 0;
    background-image: url(./assets/Fashion\ Model\ .webp);
    background-position:300px center;
    background-size: contain;
    background-repeat: no-repeat;
position: relative;


}
.banner-bg{
    background-color: rgba(235, 235, 235, 0.7);
    width: 100%;
    height: 100%;
    padding: 2rem 3.75rem;
    margin-inline: auto;
    text-align: center;
    
    
}
.newsletterTitle{
    font-size: var(--h2Size);
    text-transform: capitalize;
    margin-bottom: 1rem;
}
.wordStyle{
    text-transform: uppercase;
    font-weight: 500;
    font-style: italic;
}
.newssletterBtn{
position: absolute;
left: 50%;
bottom: 10%;
text-transform: uppercase;
font-size: 0.625rem;
padding: 0.625rem 3rem;
font-weight: 500;
cursor: pointer;
}
/* featureCards */
.featureCards{
    flex-basis: 16%;
    height: 200px;
    background-color: #f6ebe4;
    padding: 2rem 1rem;
    text-align: center;
    font-size: 0.675rem;
    line-height: 0.875rem;
    position: relative;
    cursor: pointer;
    overflow: hidden;

}
.featureCards p{
    margin-bottom: 1rem;
}
/* icon */
.bx-right-arrow-alt{
    font-size: 1.175rem;
    position: absolute;
    bottom: -20%;
}
.featureCards:hover{
    margin-top: -1rem;
    transition: .6s;
}
.featureCards:hover .bx-right-arrow-alt{
    bottom: 10%;
    transition: .4s;
}
.featureCards:nth-child(1){
    background-image: url(./assets/Perfect\ Waves.webp);
    background-size: cover;
    background-position: center;
}
.featureCards:nth-child(6){
    background-image: url(./assets/Gravel.webp);
    background-size: cover;
    background-position: center;
}
.featureHeading{
    text-transform: uppercase;
    font-size: 0.725rem;
line-height: 0.875rem;
    padding: 0.875rem;
    margin-bottom: 0.875rem;
    background-color: rgba(235, 235, 235, 0.7);

}